.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;

    width: auto;
    height: 100%;
}

.icon-dir_row {
    flex-direction: row;
}

.icon-dir_column {
    flex-direction: column;
}

.icon-color_none {
    background-color: var(--transparent-element);
}

.icon-color_primary {
    background-color: var(--primary-color);
}

.icon-color_secondary {
    background-color: var(--secondary-color);
}

.icon-color_success {
    background-color: var(--success-color);
}

.icon__img {
    height: 100%;
    width: auto;
}

.icon-size_small {
    & .icon__img {
        width: 24px;
        height: 24px;
    }

    & .icon__text {
        font-size: 12px;
    }
}

.icon-size_medium {
    & .icon__img {
        width: 32px;
        height: 32px;
    }

    & .icon__text {
        font-size: 14px;
    }
}

.icon-size_large {
    & .icon__img {
        width: 42px;
        height: 42px;
        margin: 3px;
    }

    & .icon__text {
        font-size: 24px;
    }
}

.icon-circular {
    & .icon__img {
        border-radius: 50%;
    }
}

.icon__text {
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--primary-text-color);
}

.icon__text-color_primary {
    color: var(--primary-color);
}

.icon__text-color_secondary {
    color: var(--secondary-color);
}

.icon__text-color_success {
    color: var(--success-color);
}

.wrapper {
    border: none;
    outline: none;
    background-color: var(--transparent-element);
    height: 100%;
    width: auto;
}
