.tabs {
  background-color: transparent;
  display: flex;
  gap: 3rem;
  margin: 0;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.tabs__item {
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: transparent;
  position: relative;
  transition: color 0.2s;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.tabs__item.active {
  color: var(--primary-color);
}

.tabs__item:hover {
  color: var(--primary-color);
}
