.tabs {
  background-color: transparent;
  display: flex;
  gap: 3rem;
  margin: 2rem 0; /* убрали auto, чтобы не было центрирования */
  width: 100%; /* контейнер займет всю доступную ширину */
  justify-content: flex-start; /* явно указываем выравнивание по левому краю */
}

.tabs__item {
  /* padding: 5.75rem; */
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: transparent;
  position: relative;
  transition: color 0.2s;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.tabs__item.active {
  color: var(--primary-color);
}

.tabs__item:hover {
  color: var(--primary-color);
}
