@import "/Button/Button.css";
@import "/Input/Input.css";
@import "/Switch/Switch.css";

main {
    width: 100vw;
    height: 100vh;
    background-color: #16161A;
    background-image: url('/img/login_background.png');
    background-size: cover;
}

.login {
    justify-content: space-evenly;
    position: relative;
    width: 20%;
    height: 55%;
    padding: 0;
    background-color: inherit;
    /* border: 1px solid rgba(148, 161, 178, 0.5); */
    border-radius: 32px;
}

.login__text {
    width: 50%;
    text-align: center; 
    font-size: 2.0rem;
}

.login__back {
    position: absolute;
    top: 4%;
    left: 6%;
    cursor: pointer; 
    width: 10%;
    height: 10%;
}