@import "/Button/Button.css";
@import "/Input/Input.css";
@import "/Switch/Switch.css";

.main_auth {
    background-image: url('/img/login_background.webp');
    background-size: cover;
}

.login {
    position: relative;

    justify-content: space-evenly;

    width: 30dvw;
    height: 55dvh;
    padding: 0;
    background-color: inherit;
    border-radius: 32px;

    min-width: 300px;
    max-width: 340px;

    min-height: 510px;
    max-height: 560px;
}

.login__text {
    width: 50%;
    text-align: center;
    font-size: 2.0rem;
}

.login__back {
    position: absolute;
    top: 4%;
    left: 6%;
    cursor: pointer;
    width: 10%;
    height: 10%;
}