<main class="flex-box-row">
    <form class="login flex-box-column" id="{{ id }}" action="/" method="POST">
        <a class="login__back">
            <svg width="75%" height="75%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 12H4M4 12L8 8M4 12L8 16" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
        </a>
        <div class="login__text font flex-box-row">Войти или зарегистрироваться</div>
    </form>
</main>