.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_content {
  background: var(--background-color);
  width: 100%;
  height: 100%;
  min-height: 30rem;
  max-width: 60rem;
  max-height: 40rem;
  border-radius: 25px;

  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.modal_content__header {
  position: relative;
}

.modal_close {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary-text-color);
  z-index: 10;
}

.modal_content__title {
  padding: 4rem 2rem 0 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-text-color);
}

.modal_content__message {
  color: var(--primary-text-color);
  font-size: 2rem;
  text-align: center;
}

.modal_content__inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal_content-actions {
  display: flex;
  justify-content: center;

  width: 70%;
}

.modal_content__btn {
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: var(--primary-text-color);
}

.modal_content-confirm {
  background-color: var(--primary-color);
}

.modal_content-cancel {
  background-color: var(--primary-color);
}

.modal_confirm_btn_container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_cancel_btn_container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .u_button {
  width: 90%;
}

.modal .u_button__text {
  font-weight: bold;
}

.modal_close {
  position: absolute;
  top: 6%;
  left: 6%;
  cursor: pointer;
  font-size: 3rem;
}