<div class="modal">
  <div class="modal__content">
    <div class="modal__header">
      <h3>{{title}}</h3>
    </div>
    <div class="modal__body">
      <p>{{message}}</p>
    </div>
    <div class="modal__footer">
      <button class="modal__cancel">{{cancelText}}</button>
      <button class="modal__confirm">{{confirmText}}</button>
    </div>
  </div>
</div>