.navbar {
  display: block;

  width: 100%;
  height: var(--navbar-height);
  min-width: 180px;
  min-height: 20px;
  background-color: var(--transparent-element);

  z-index: 5;
  position: sticky;
  top: 0;
}

.navbar_elements {
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 22.5px;
  padding-bottom: 22.5px;

  background: var(--background-color);
  height: var(--navbar-content-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_gradient {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: var(--navbar-height);
  min-width: 300px;
  min-height: 20px;

  background: linear-gradient(
    180deg,
    #16161a 67%,
    rgba(22, 22, 26, 0.75) 75%,
    rgba(22, 22, 26, 0.453846) 84%,
    rgba(22, 22, 26, 0.2) 92%,
    rgba(22, 22, 26, 0) 100%
  );
}

.navbar__input_form {
  display: flex;
  flex-direction: row;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: 40px;

  margin: 2.5px 0px;

  border: none;
  outline: none;
  background-color: var(--transparent-element);
}

.navbar__button.u_button > .u_button__text-color_primary {
  color: #979aa3;
}

.navbar__button.u_button > .u_button__text-color_primary:hover {
  color: #fffe;
}

.navbar__button.u_button {
  background-color: inherit;
  margin-left: 10px;
}

.navbar__button.u_button:hover {
  border: none;
}

.navbar .u_input {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: var(--navbar-elements-height);
  background-color: var(--background-color);
  padding-left: 5px;
}

.navbar .u_input__field {
  background-color: var(--background-color);
  min-width: 360px;
  height: var(--navbar-elements-height);
  padding-left: 2rem;
  font-size: 2.4rem;
  border: solid;
  border-color: var(--text-field-border-color);
}

.login_modal .modal_content {
  min-width: 25%;
  max-width: 25%;
  min-height: 30%;
  max-height: 30%;
}

.navbar__left {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
