.navbar {
    display: block;

    width: 100dvw;
    height: var(--navbar-height);
    min-width: 180px;
    min-height: 20px;
    background-color: var(--transparent-element);

    z-index: 5;
    position: sticky;
    top: 0;
}

.navbar_elements {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 22.5px;
    padding-bottom: 22.5px;

    background: var(--background-color);
    height: var(--navbar-content-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar_gradient {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: var(--navbar-height);
    min-width: 300px;
    min-height: 20px;

    background: linear-gradient(180deg, #16161A 67%, rgba(22, 22, 26, 0.75) 75%, rgba(22, 22, 26, 0.453846) 84%, rgba(22, 22, 26, 0.2) 92%, rgba(22, 22, 26, 0) 100%);
}


.navbar__input_form {
    display: flex;
    flex-direction: row;
}

.navbar__logo {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;

    margin: 2.5px 0px;

    border: none;
    outline: none;
    background-color: var(--transparent-element);
}