<div class="switch flex-box {{ id }}">
    <button class="switch__button font flex-box switch__button--left" type="button">{{ leftButtonText }}</button>
    <button class="switch__button font flex-box switch__button--right" type="button">{{ rightButtonText }}</button>
</div>