<div class="switch flex-box-row" id="{{ id }}">
    <button class="switch__button font flex-box-row switch__button--left" type="button">{{ leftButtonText }}</button>
    <button class="switch__button font flex-box-row switch__button--right" type="button">{{ rightButtonText }}</button>
</div>