<div class='csat-overlay'>
  <div class='csat-content'>
    <iframe
      class='csat-iframe'
      src='{{frontUrl}}csat'
      width='600'
      height='400'
      title='Опрос удовлетворенности'
      allowfullscreen
    >
    </iframe>
  </div>
</div>