.u_input {
  border: none;
  outline: none;
  background-color: inherit;
}

.u_input__field {
  outline: none;
  background-color: inherit;
  color: var(--secondary-text-color);
  width: auto;
  min-width: 80px;
  padding-left: 2rem;
  font-size: 2.4rem;
  border-style: solid;
  border-radius: 25px;
  border-width: 1px;
  border-color: var(--text-field-border-color);
}

.u_input__field:hover {
  border: 1px solid var(--border-color-hover);
  outline: none;
}

.u_input__field:focus {
  caret-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--primary-text-color);
  outline: none;
}

.u_input__field-error {
  color: var(--error-color);
  caret-color: var(--error-color);
  border-color: var(--error-color);
  outline: none;
}

.u_input__error-container {
  color: #ff0000;
  font-size: 1.4rem;
  padding: 1% 0 0 5%;
}

.error {
  border: 1px solid #ff0000;
  border-radius: 25px;
}

@media (max-width: 439.98px) {
  .modal .modal_content__inputs .u_input__field::placeholder {
    font-size: 1.8rem;
  }
}