@import "/css/font.css";
@import "/css/flex-box.css";
@import "/Login/Login.css";

body {
    margin: 0;
}

html {
    font-size: 10px;
}

a {
    font-size: 2rem;
    font-weight: 700;
    color:black;
}