.u_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 4px;

    height: var(--navbar-elements-height);
    border-radius: 25px;
    border: none;

    cursor: pointer;
}

.u_button:hover {
    border: solid;
    border-width: 1px;
    border-color: var(--primary-text-color);
}

.u_button:disabled {
    background: #72757E;
    cursor: default;
}

.u_button:focus {
    border-color: var(--primary-color);
    border-width: 3px;

    outline: none;
}

.u_button-color_primary {
    background-color: var(--primary-color);
}

.u_button-color_success {
    background: var(--success-color);
}

.u_button-color_secondary {
    background: var(--secondary-color);
}

.u_button-color_error {
    background: var(--error-color);
}

.u_button__text {
    align-self: center;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    color: var(--primary-text-color);
}

.u_button__text-color_primary {
    color: var(--primary-text-color);
}

.u_button__text-color_success {
    color: green;
}

.u_button__text-color_secondary {
    color: var(--secondary-color)
}

.u_button__icon {
    align-self: center;
    justify-content: center;
    height: calc(var(--navbar-elements-height) * 0.6);
}