.header {
  display: block;
}

.content {
  flex: 1 0 auto;
  width: 100%;
}

.compilations {
  position: relative;
  width: 100%;
  height: auto;
  gap: 50px;
  padding-bottom: 100px;
}

.promo {
  position: relative;
  width: 100%;
  height: auto;
  gap: 50px;

  padding-bottom: 50px;
}

.compilation {
  position: relative;
  width: 100%;
  align-items: center;
}

.compilation__title {
  margin-top: 0;
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-text-color);
  font-size: 32px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding: 20px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.compilation__scroll {
  max-width: 95%;
}

.calendar .card__preview{
  filter: brightness(40%);
}

.calendar .card__bottom-elems-container {
  font-size: 3rem;
  font-weight: bold;
} 


.calendar .card__top-text {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 3px 15px;
  width: min-content;
}

.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
}

.compilation .card__top-text {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 2px 5px;
  width: min-content;
}

.navbar--overlay {
  position: fixed;
}

.navbar--overlay .navbar_elements {
  background-color: transparent;
}

.navbar--scrolled .navbar_elements {
  background-color: var(--background-color);
}

.navbar--overlay:hover .navbar_elements {
  background-color: var(--background-color);
}

.navbar--overlay .navbar_gradient {
  opacity: 0;
}

.navbar--scrolled .navbar_gradient {
  opacity: 1;
}

.navbar--overlay:hover .navbar_gradient {
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  .compilation__title {
    font-size: 2.8rem;
  }
}


@media only screen and (max-width: 768px) {
  .compilation__title {
    font-size: rem;
  }

  .main-page .card {
    width: 170px !important;
    height: 255px !important;
  }

  .main-page .card__title {
    width: 140px !important;
    white-space: normal;
  }

  .main-page .compilations {
    gap: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .compilation__title {
    font-size: 20px;
  }

  .main-page .card {
    width: 150px !important;
    height: 225px !important;
  }

  .main-page .card__title {
    width: 130px !important;
    white-space: normal;
  }

  .main-page .compilation__title {
    font-size: 2rem;
  }

  .main-page .compilations {
    gap: 1.5rem;
  }
}
