<div class="movie-page__review-card movie-page__review-card--current-user flex-dir-col flex-start">
  <div class="movie-page__review-card-header flex-dir-row">
    <div class="movie-page__review-rating-wrapper flex-dir-row">
      <img class="movie-page__review-star" src="/static/svg/star.svg" alt="star">
      <div class="movie-page__review-rating">{{score}}</div>
    </div>
    <div class="movie-page__review-info flex-dir-row flex-center"> 
      <div class="movie-page__review-user-name">Ваш отзыв</div>
      <div class="movie-page__review-date">{{createdAt}}</div>
    </div>
  </div>
  <div class="movie-page__review-text">{{{reviewText}}}</div>
</div>
