.stars {
  display: inline-block;
}

.stars__container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.stars__star {
  width: 35px;
  height: 35px;
  transition: fill 0.15s ease-in-out, transform 0.1s ease-in-out;
}

.stars__star_highlighted {
  transform: scale(1.2);
}

.stars__rating-container {
  color: #fffe;
  margin-left: 10px;
  font-size: 2rem;
  min-height: 2.1rem;
}

.stars__rating {
  font-weight: 600;
}
