.search_input {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    width: auto;
    height: var(--navbar-elements-height);

    margin: 0px 20px;

    border: none;
    outline: none;
    background-color: var(--background-color);
}

.search_input__form {
    background-color: var(--transparent-element);
}


.search_input__field {
    background-color: var(--background-color);
    color: var(--secondary-text-color);
    width: auto;
    min-width: 360px;
    height: var(--navbar-elements-height);

    padding-left: 2rem;
    font-size: 2.4rem;

    border: solid;
    border-color: var(--text-field-border-color);
    border-radius: 25px;
    border-width: 1px;

    &::placeholder {
        color: var(--secondary-text-color);
    }
}

.search_input__field:hover {
    outline: none;
}


.search_input__field:focus {
    caret-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-text-color);
    outline: none;
}


.search_input__field-error {
    color: var(--error-color);
    caret-color: var(--error-color);
    border-color: var(--error-color);
    outline: none;
}


.search_input__icon_btn {
    background-color: var(--transparent-element);
    border: none;
    padding: 0;
    cursor: pointer;

    height: var(--navbar-elements-height);
    display: flex;
    align-self: center;
    justify-content: center;

    padding-left: 10px;
}