<div class="popup {{#if isError}}popup--error{{else}}popup--success{{/if}}">
  <span class="popup__text">{{message}}</span>
  <button class="popup__close" aria-label="Закрыть">&times;</button>
</div>
