/* *,
*::before,
*::after {
  box-sizing: border-box;
}

.card-carousel {
  position: relative;
  overflow: hidden;
}

.card-carousel__container {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.card-carousel__item {
  flex-shrink: 0;

  margin-right: 10px;
}

.card-carousel__item:last-child {
  margin-right: 0;
}

.card-carousel__button {
  all: unset;
  display: block;
  position: absolute;
  padding: 1rem;
  cursor: pointer;

  height: 100%;

  transition: background-color 100ms ease-out;
}

.card-carousel__button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.card-carousel__button>* {
  stroke: white;
  fill: black;
}

.card-carousel__button--next {
  left: 0;
}

.card-carousel__button--prev {
  right: 0;
}

.carousel__slider {
  display: flex;
  flex-direction: row;

  overflow: hidden;
  width: 400px;

  position: relative;
} */