.button {
    border: none;
    cursor: pointer;
    width: 84%;
    height: 12%;
    background: #7F5AF0;
    border-radius: 25px;
    font-weight: 700;

    min-height: 56px;
}

.disable {
    background: #72757E;
    cursor: default;
}