.person-page {
  max-width: 120rem;
  margin: auto;
  padding: 5rem 5rem 0 5rem;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow: hidden;
}

.person-page__content {
  display: flex;
  gap: 4rem;
}

.person-page__photo-container {
  flex-shrink: 0;
  width: 30rem;
  height: 46rem;
}

.person-page__photo {
  width: 100%;
  height: auto;
  border-radius: 2.5rem;
  display: block;
}

.person-page__info-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.person-page__header {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 1.5rem; */
  padding-bottom: 1rem;
}

.person-page__name-ru {
  margin: 0 0 0.5rem 0;
  font-size: var(--header-1-text);
}

.person-page__name-en {
  margin: 0 0 1rem 0;
  font-style: italic;
  font-size: var(--header-2-text);
}

.favorite-button__container {
  height: fit-content;
  width: fit-content;
}

.person-page__details,
.details-label,
.details-value {
  font-size: var(--paragraph-text);
}

.person-page__details h2,
.person-page__biography h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: var(--header-2-text);
}

.person-page__biography {
  line-height: var(--peragraph-line-height);
  font-size: var(--paragraph-text);
}

.details-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.8rem;
}

.details-table td {
  padding: 0.6rem 0;
  vertical-align: top;
}

.details-label {
  font-weight: bold;
  color: var(--primary-text-color);
  width: 15rem;
  padding-right: 1rem;
}

.details-value {
  color: var(--primary-text-color);
}

.person-page__films {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 767.98px) {
  .person-page__content {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .person-page__details {
    width: 100%;
  }

  .details-label {
    font-size: 1.8rem;
  }
  .details-value,
  .person-page__biography {
    font-size: 1.7rem;
  }

  .person-page__info-container {
    /* align-items: flex-start; */
    align-items: center;
  }
  .person-page__header {
    align-items: center;
  }
}

@media (max-width: 499.98px) {
  .person-page {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .details-label {
    font-size: 1.6rem;
  }
  .details-value,
  .person-page__biography {
    font-size: 1.5rem;
  }

  .person-page__photo-container,
  .person-page .card {
    width: 225px !important;
    height: 345px !important;
  }

  .person-page .favorites-section--movies .card {
    width: 105px !important;
    height: 161px !important;
  }
}

/* .person-page .actor__button {
  width: 140px;
  height: 45px;
  background-color: rgba(50, 50, 50, 0.9);
  min-height: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  padding: 1.5rem 8rem;
  gap: 1.5rem;
}

.person-page .u_button__text {
  font-size: 1.8rem;
}

.person-page .u_button__icon {
  height: calc(var(--navbar-elements-height) * 0.7);
} */

.person-page .actor__button {
  color: var(--primary-text-color);
  background: linear-gradient(135deg, #5130b3 65%, var(--primary-color) 100%);
  width: 17rem;
  height: 6rem;
  padding: 0 2.5rem;
  cursor: pointer;
  border: none;
  border-radius: 3.5rem;
  white-space: nowrap;
  justify-content: center;
  transition: ease-in-out 0.2s;
  margin-top: 1rem;
}

.person-page .actor__button:hover {
  border: none;
  transform: scale(1.05);
  filter: drop-shadow(0 0px 4px rgba(80, 80, 80, 0.9));
}

.person-page .actor__button > .u_button__text-color_primary {
  font-weight: bold;
  font-size: 2rem;
}

.person-page .actor__button > .u_button__icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.person-page .u_button.u_button-color_favorite {
  background: #eb9534;
}

.person-page .u_button.u_button-color_primary {
  background: linear-gradient(135deg, #5130b3 65%, var(--primary-color) 100%);
}

.person-page .movie-page-button.u_button.u_button-color_favorite {
  background: #eb9534;
}

.person-page .movie-page-button.u_button.u_button-color_primary {
  background: linear-gradient(135deg, #5130b3 65%, var(--primary-color) 100%);
}