.person-page {
  display: flex;
  gap: 40px;
  flex-direction: row;
  max-width: 1200px;
  overflow: hidden;

  margin: auto auto;
  /* Center the page */
  padding: 50px 50px 0px 50px;

  color: var(--primary-text-color);
}

.person__photo-container {
  flex-shrink: 0;
  /* Prevent photo from shrinking */
  height: 460px;
  width: 300px;
}

.person__photo {
  width: 100%;
  height: auto;
  border-radius: 25px;
  display: block;
}

.person__info-container {
  flex-grow: 1;
  /* Allow info section to take remaining space */
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.person__header {
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.person__name-ru {
  margin: 0 0 5px 0;
  font-size: var(--header-1-text);
}

.person__name-en {
  margin: 0 0 10px 0;
  font-style: italic;
  font-size: var(--header-2-text);
}

.favorite-button__container {
  height: fit-content;
  width: fit-content;
}

.person__details,
.details-label,
.details-value {
  font-size: var(--paragraph-text);
}

.person__biography h2,
.person__details h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: var(--header-2-text);
}

.person__biography {
  line-height: var(--peragraph-line-height);
  font-size: var(--paragraph-text);
}


.details-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 18px;
}

.details-table td {
  padding: 6px 0;
  vertical-align: top;
}

.details-label {
  font-weight: bold;
  color: var(--primary-text-color);
  width: 150px;
  padding-right: 10px;
}

.details-value {
  color: var(--primary-text-color);
}