.person-page {
  max-width: 120rem;
  margin: auto;
  padding: 5rem 5rem 0 5rem;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow: hidden;
}

.person-page__content {
  display: flex;
  gap: 4rem;
}

.person-page__photo-container {
  flex-shrink: 0;
  width: 30rem;
  height: 46rem;
}

.person-page__photo {
  width: 100%;
  height: auto;
  border-radius: 2.5rem;
  display: block;
}

.person-page__info-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.person-page__header {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.person-page__name-ru {
  margin: 0 0 0.5rem 0;
  font-size: var(--header-1-text);
}

.person-page__name-en {
  margin: 0 0 1rem 0;
  font-style: italic;
  font-size: var(--header-2-text);
}

.favorite-button__container {
  height: fit-content;
  width: fit-content;
}

.person-page__details,
.details-label,
.details-value {
  font-size: var(--paragraph-text);
}

.person-page__details h2,
.person-page__biography h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: var(--header-2-text);
}

.person-page__biography {
  line-height: var(--peragraph-line-height);
  font-size: var(--paragraph-text);
}

.details-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.8rem;
}

.details-table td {
  padding: 0.6rem 0;
  vertical-align: top;
}

.details-label {
  font-weight: bold;
  color: var(--primary-text-color);
  width: 15rem;
  padding-right: 1rem;
}

.details-value {
  color: var(--primary-text-color);
}

.person-page__films {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
