<div class="flex-dir-row genres-page__compilation-template">
  {{#if title}} <div class="genres-page__compilation-title">{{title}}</div> {{/if}}
  <div class="genres-page__compilation-all" data-url="{{url}}">посмотреть все</div>
</div>