.genres-page__compilation-scroll {
  max-width: 95%;
}

.genres-page__compilations {
  position: relative;
  width: 100%;
  height: auto;
  gap: 50px;
}

.genres-page__compilation {
  position: relative;
  width: 100%;
  align-items: center;
}

.genres-page__compilation .card__top-text {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 2px 5px;
  width: min-content;
}

.genres-page__compilation-template {
  width: 100%;
  gap: 25px;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  
}

.genres-page__compilation-scroll {
  max-width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
}

.genres-page__compilation-title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-text-color);
  font-size: 3.2rem;
  font-weight: bold;
}

.genres-page__compilation-all {
  text-align: center;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
  font-size: 2.6rem;
}

.genres-page__compilation-all:hover {
  color: var(--primary-color);
  /* filter: drop-shadow(0 3px 10px rgba(255, 255, 255, 0.5)); */
  cursor: pointer;
}

.genres-page .card-component {
  max-width: 200px;
}

@media screen and (max-width: 899.98px) {
  .genres-page .card {
    width: 150px !important;
    height: 225px !important;
  }
  .genres-page .card__title {
    width: 150px !important;
  }
  .genres-page .card__title {
    white-space: normal;
  }
  .genres-page__compilation-title {
    font-size: 2.5rem;
  }
  .genres-page__compilation-all {
    font-size: 2rem;
  }
  .genres-page__compilations {
    gap: 0rem;
  }
}

@media screen and (max-width: 530.98px) {
  .genres-page .card {
    width: 120px !important;
    height: 180px !important;
  }
  .genres-page .card__title {
    width: 120px !important;
  }
  .genres-page .card__title {
    white-space: normal;
  }
  .genres-page__compilation-title {
    font-size: 2rem;
  }
  .genres-page__compilation-all {
    font-size: 1.5rem;
  }
  .genres-page__compilations {
    gap: 0rem;
  }
}
